
/* 
    You can write your own styles here...

*/

#App{  
        font-family: Arial, Helvetica, sans-serif;    
}

input{

    color: lightgray;

}
.title{
    margin: 40px;
    text-align: center;
    font-size: 80px;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}
.list-group-item{

    color: lightgrey;
}
.list-group-item span{

    color: lightgrey;
    float: right;
}

.edit-btn btn btn-sm fs-3{

    float: right;
}


li:hover{

    color: gray;

}

li:hover .badge{   
    display: block;
    text-decoration: dotted;
    color: gray;
    cursor: pointer;

 }

 .badge{
    float:right;
    font-size: 20px;
    color: lightgray;
    display: none;
 }

 .countItems{
    color: lightgray;
 }
 
 button.btn.btn-info {
    margin-right: 10px;
}

button.btn.btn-danger.col-12 {
    margin-top: 15px;
}

@media screen and (max-width: 600px) {
    .title{
        font-size: 40px;
    }
  }